.menu {
	background-color: blue;
	color: white;
	text-algin: center;
	width: 600px;
	height: 100%;
	border-radius: 10px;
	margin: 0 auto;
}

h3 {
  text-align: center;
}

.body{
	text-align: center;
	background-color: #3385FF;
	width: 100%;
	margin: 0 !important;
    padding: 0 !important;
}
tr{
	
}